<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="3.12.32" package="com.companyname.expandcalculator" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:label="Expand Calculator" android:theme="@style/MainTheme" android:icon="@drawable/Expand_Calculator_Icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>